# Dependencies
node_modules/

# Build outputs
dist/
/dist

# Environment variables
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.quasar
*.temp*
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/*.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

test-results/
playwright-report/

#temp files
tmp

#packages
*.tgz
