name: VueJS with Vite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install dependencies
      run: npm install  # Install the project dependencies
      
    - name: Build the project
      run: |
        npm run build

    - name: Run Unit tests
      run: |
        npm run test:unit

    - name: Upload dist folder as artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: ./dist/  # Path to the build output folder

  # Job 2: Deploy to AWS S3 (runs only after the build job)
  deploy:
    runs-on: ubuntu-latest  # Use an Ubuntu runner for the job
    needs: build  # This ensures that the deploy job runs only after the build job is successful

    steps:
    - name: Download dist artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: dist  # This downloads the dist artifact uploaded by the build job
        
    - name: Deploy to AWS S3
      run: |
        aws s3 sync ./dist/ s3://$AWS_BUCKET_NAME/  --delete
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}  # Use the secret for AWS access key
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  # Use the secret for AWS secret key
        AWS_REGION: ${{ secrets.AWS_REGION }}  # Specify the region
        AWS_BUCKET_NAME: dilmoontech-weather-forecast  # The name of your S3 bucket
